---
page_title: "{{ .Name }} Resource"
description: |-
  Manages a Google Form.
---

# {{ .Name }}

{{ .Description }}

## Example Usage

```hcl
resource "google_forms_form" "example" {
  title               = "My Form"
  published           = true
  accepting_responses = true
}
```

## Schema

{{ .SchemaMarkdown }}

