---
page_title: "{{ .Name }} Resource"
description: |-
  Tracks the relationship between a Form and its response spreadsheet.
---

# {{ .Name }}

{{ .Description }}

## Schema

{{ .SchemaMarkdown }}

