---
page_title: "{{ .Name }} Data Source"
description: |-
  Retrieves a Google Sheets spreadsheet by ID.
---

# {{ .Name }}

{{ .Description }}

## Example Usage

```hcl
data "google_forms_spreadsheet" "example" {
  id = "spreadsheet-id"
}
```

## Schema

{{ .SchemaMarkdown }}

